@font-face {
    font-family: 'HS-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/HS-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    transition: 0.5s;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.head {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub_title {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 6px;
    color: #525252;
}

.title_box {
    display: flex;
    flex-direction: row;
    height: 40px;
}

.title {
    font-family: 'HS-Regular';
    font-weight: 400;
    font-size: 40px;
    vertical-align: baseline;
}

.title_green {
    color: #408D01;
}

.title_orange {
    margin-left: 10px;
    color: #FA7D1E;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
    margin-bottom: 18px;
}

.step1 {
    width: 60px;
    height: 24px;
    background: url(./assets/shape_step1.png) no-repeat;
    background-size: contain;
    margin-right: 12px;
}

.info_txt {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 3px;
}

.main1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.select {
    width: 650px;
    height: 239px;
    background-color: #FFFDEA;
}

.num {
    font-family: 'HS-Regular';
    font-size: 2.5rem;
    color: #FA7D1E;
    width: 125px;
    height: 56px;
    padding-top: 6px;
    font-weight: 400;
}

.btn_minus {
    width: 56px;
    height: 56px;
    background: url(./assets/btn_minus.png) no-repeat;
    background-size: contain;
    border: none;
}

.btn_plus {
    width: 56px;
    height: 56px;
    background: url(./assets/btn_plus.png) no-repeat;
    background-size: contain;
    border: none;
}
.btn_box {
    width: 650px;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 16px;
}

.btn_next {
    width: 121px;
    height: 48px;
    background: url(./assets/btn_next.png) no-repeat;
    background-size: contain;
    border: none;
}

.btn_next:hover {
    cursor: pointer;
    transform: scale(1.05, 1.05);
}

.btn_select:hover {
    cursor: pointer;
}